# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log

# Build
/dist
/build

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Misc
*.tgz

# Coverage
coverage/

# Others
*.local

# Optional: ignore backend database
*.sqlite
*.db
